html, body{
    margin:0;
    padding:0;
    height:100%;
}

.section-conteudo{
    min-height: 100%;
    position:relative;
    width: 100%;
}

.altura-fotos{
    height: 150px !important;
}

.section-rodape {
    margin-top: 25px;
    position:relative;
    bottom:0;
    width:100%;
    height: 150px;
    background-color: #5e5e5e;
}

.mini-fotos{
    max-width: 200px;
}

.btn-primary{
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.btn-default{
    background-color: #000000 !important;
    border-color: #000000 !important;
    color: #FFFFFF !important;
}

.btn-danger{
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.btn-success{
    background-color: gold !important;
    border-color: #000000 !important;
}

.margin-bottom{
    margin-bottom: 25px !important;
}